/* 
 * For full documentation see
 * ../documentation/typography.css
*/

/*
* This is the SASS version from the article 
* "A Modern Typographic Scale", Rob Weychert, (2019)
* https://24ways.org/2019/a-modern-typographic-scale/
*/



:root {
  $interval: 1.5;    // Unitless for proportional, unit for fixed
  $body-text: 1rem;  // Must have a unit
  $scale-min: -2;    // Unitless negative integer
  $scale-max: 2;     // Unitless positive integer
  $container-width: 1120px;

  --int: #{$interval};
  --scale0: #{$body-text};

  /*
   * This scale produces a set of preferred font-size values.
   * 
   */
  @if $scale-min < 0 {
  // Generate scale variables smaller than the base text size
    @for $i from -1 through $scale-min {
      @if type-of($interval) == number {
        @if unitless($interval) {
          --scale#{$i}: calc(var(--scale#{$i + 1}) / var(--int));
        } @else {
          --scale#{$i}: calc(var(--scale#{$i + 1}) - var(--int));
        }
      }
    }
  }
  @if $scale-max > 0 {
    // Generate scale variables larger than the base text size
    @for $i from 1 through $scale-max {
      @if type-of($interval) == number {
        @if unitless($interval) {
          --scale#{$i}: calc(var(--scale#{$i - 1}) * var(--int));
        } @else {
          --scale#{$i}: calc(var(--scale#{$i - 1}) + var(--int));
        }
      }
    }
  }
}
/*


@media screen and (min-width: #{$lower-gate* strip-units($font-size)}) {
  p {
    line-height: molten-leading($lower-gate, $upper-gate, $min-lineheight, $max-lineheight)
  }
}

// 35em "gate" * 1.15 font-size
@media (min-width: #{$upper-gate * strip-units($font-size)}) {
   p {
     line-height: $max-lineheight
     Prefix of the temporary container title
    }
  }
  */