/* 
 * For full documentation see
 * ../documentation/utilities.css
*/

.flow {
  --flow-space: 1em;
  & > * + * { 
      margin-top: 1em; // Backwards compatibility
      margin-top: var(--flow-space);
  }
}

/*
 * Push the background colour of a container off to the sides.
 * Presents the illusion of a full-width, full-bleed container.
*/
@mixin container-horizontal-bleed( $background-colour ) {
  box-shadow: 0 0 0 100vmax $background-colour;
  clip-path: inset(0 -100vmax);
}