/* 
* "Managing Flow and Rhythm with CSS Custom Properties", Andy Bell (2018)
* https://24ways.org/2018/managing-flow-and-rhythm-with-css-custom-properties/
*/

.flow {
    --flow-space: 1em;
  }
  
  .flow > * + * { 
    margin-top: 1em; // Backwards compatibiltiy
    margin-top: var(--flow-space);
  }